USE [master]
GO
/****** Object:  Database [MasterPol]    Script Date: 01.12.2025 19:36:32 ******/
CREATE DATABASE [MasterPol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterPol', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MasterPol.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterPol_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MasterPol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterPol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterPol]
GO
/****** Object:  Table [dbo].[Материал]    Script Date: 01.12.2025 19:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материал](
	[КодМатериала] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](100) NULL,
	[КодТипаМатериала] [int] NULL,
 CONSTRAINT [PK_Материал] PRIMARY KEY CLUSTERED 
(
	[КодМатериала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партнер]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партнер](
	[КодПартнера] [int] NOT NULL,
	[НаименованиеПартнера] [nvarchar](100) NULL,
	[Директор] [nvarchar](150) NULL,
	[Почта] [nvarchar](100) NULL,
	[Телефон] [nvarchar](11) NULL,
	[ЮрАдрес] [nvarchar](100) NULL,
	[ИНН] [float] NULL,
	[Рейтинг] [float] NULL,
	[ТипПартнера] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Партнер] PRIMARY KEY CLUSTERED 
(
	[КодПартнера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПродуктыПартнера]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПродуктыПартнера](
	[КодПродуктаПартнера] [int] IDENTITY(1,1) NOT NULL,
	[Продукция] [int] NULL,
	[НаименованиеПартнера] [int] NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_ПродуктыПартнера] PRIMARY KEY CLUSTERED 
(
	[КодПродуктаПартнера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[КодПродукции] [int] IDENTITY(1,1) NOT NULL,
	[НаименованиеПродукции] [nvarchar](100) NULL,
	[Артикул] [int] NULL,
	[МинСтоимостьДляПартнера] [float] NULL,
	[ТипПродукции] [int] NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[КодПродукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипМатериала]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипМатериала](
	[КодТипаМатриала] [int] IDENTITY(1,1) NOT NULL,
	[ТипМатериала] [nvarchar](50) NULL,
	[ПроцентБракаМатериала] [float] NULL,
 CONSTRAINT [PK_ТипМатериала] PRIMARY KEY CLUSTERED 
(
	[КодТипаМатриала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПартнера]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПартнера](
	[КодТипаПартнера] [int] NOT NULL,
	[ТипПартнера] [nvarchar](10) NULL,
 CONSTRAINT [PK_ТипПартнера] PRIMARY KEY CLUSTERED 
(
	[КодТипаПартнера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПродукции]    Script Date: 01.12.2025 19:36:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПродукции](
	[КодТипаПродукции] [int] IDENTITY(1,1) NOT NULL,
	[ТипПродукции] [nvarchar](50) NULL,
	[КоэффициентТипаПродукции] [float] NULL,
 CONSTRAINT [PK_ТипПродукции] PRIMARY KEY CLUSTERED 
(
	[КодТипаПродукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Материал] ON 

INSERT [dbo].[Материал] ([КодМатериала], [Наименование], [КодТипаМатериала]) VALUES (1, N'Материал 1', 1)
INSERT [dbo].[Материал] ([КодМатериала], [Наименование], [КодТипаМатериала]) VALUES (2, N'Материал 2', 2)
INSERT [dbo].[Материал] ([КодМатериала], [Наименование], [КодТипаМатериала]) VALUES (3, N'Материал 3', 3)
SET IDENTITY_INSERT [dbo].[Материал] OFF
GO
SET IDENTITY_INSERT [dbo].[Партнер] ON 

INSERT [dbo].[Партнер] ([КодПартнера], [НаименованиеПартнера], [Директор], [Почта], [Телефон], [ЮрАдрес], [ИНН], [Рейтинг], [ТипПартнера]) VALUES (1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 ', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 5, 1)
INSERT [dbo].[Партнер] ([КодПартнера], [НаименованиеПартнера], [Директор], [Почта], [Телефон], [ЮрАдрес], [ИНН], [Рейтинг], [ТипПартнера]) VALUES (2, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 ', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3, 1)
INSERT [dbo].[Партнер] ([КодПартнера], [НаименованиеПартнера], [Директор], [Почта], [Телефон], [ЮрАдрес], [ИНН], [Рейтинг], [ТипПартнера]) VALUES (3, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 ', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4, 2)
SET IDENTITY_INSERT [dbo].[Партнер] OFF
GO
SET IDENTITY_INSERT [dbo].[ПродуктыПартнера] ON 

INSERT [dbo].[ПродуктыПартнера] ([КодПродуктаПартнера], [Продукция], [НаименованиеПартнера], [Количество]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[ПродуктыПартнера] ([КодПродуктаПартнера], [Продукция], [НаименованиеПартнера], [Количество]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[ПродуктыПартнера] ([КодПродуктаПартнера], [Продукция], [НаименованиеПартнера], [Количество]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[ПродуктыПартнера] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукция] ON 

INSERT [dbo].[Продукция] ([КодПродукции], [НаименованиеПродукции], [Артикул], [МинСтоимостьДляПартнера], [ТипПродукции]) VALUES (1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100, 1)
INSERT [dbo].[Продукция] ([КодПродукции], [НаименованиеПродукции], [Артикул], [МинСтоимостьДляПартнера], [ТипПродукции]) VALUES (2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880, 2)
INSERT [dbo].[Продукция] ([КодПродукции], [НаименованиеПродукции], [Артикул], [МинСтоимостьДляПартнера], [ТипПродукции]) VALUES (3, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080, 4)
SET IDENTITY_INSERT [dbo].[Продукция] OFF
GO
SET IDENTITY_INSERT [dbo].[ТипМатериала] ON 

INSERT [dbo].[ТипМатериала] ([КодТипаМатриала], [ТипМатериала], [ПроцентБракаМатериала]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[ТипМатериала] ([КодТипаМатриала], [ТипМатериала], [ПроцентБракаМатериала]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[ТипМатериала] ([КодТипаМатриала], [ТипМатериала], [ПроцентБракаМатериала]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[ТипМатериала] OFF
GO
INSERT [dbo].[ТипПартнера] ([КодТипаПартнера], [ТипПартнера]) VALUES (1, N'ЗАО')
INSERT [dbo].[ТипПартнера] ([КодТипаПартнера], [ТипПартнера]) VALUES (2, N'ООО')
INSERT [dbo].[ТипПартнера] ([КодТипаПартнера], [ТипПартнера]) VALUES (3, N'ПАО')
GO
SET IDENTITY_INSERT [dbo].[ТипПродукции] ON 

INSERT [dbo].[ТипПродукции] ([КодТипаПродукции], [ТипПродукции], [КоэффициентТипаПродукции]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[ТипПродукции] ([КодТипаПродукции], [ТипПродукции], [КоэффициентТипаПродукции]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[ТипПродукции] ([КодТипаПродукции], [ТипПродукции], [КоэффициентТипаПродукции]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[ТипПродукции] OFF
GO
ALTER TABLE [dbo].[Материал]  WITH CHECK ADD  CONSTRAINT [FK_Материал_ТипМатериала1] FOREIGN KEY([КодТипаМатериала])
REFERENCES [dbo].[ТипМатериала] ([КодТипаМатриала])
GO
ALTER TABLE [dbo].[Материал] CHECK CONSTRAINT [FK_Материал_ТипМатериала1]
GO
ALTER TABLE [dbo].[Партнер]  WITH CHECK ADD  CONSTRAINT [FK_Партнер_ТипПартнера] FOREIGN KEY([ТипПартнера])
REFERENCES [dbo].[ТипПартнера] ([КодТипаПартнера])
GO
ALTER TABLE [dbo].[Партнер] CHECK CONSTRAINT [FK_Партнер_ТипПартнера]
GO
ALTER TABLE [dbo].[ПродуктыПартнера]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыПартнера_Партнер] FOREIGN KEY([НаименованиеПартнера])
REFERENCES [dbo].[Партнер] ([КодПартнера])
GO
ALTER TABLE [dbo].[ПродуктыПартнера] CHECK CONSTRAINT [FK_ПродуктыПартнера_Партнер]
GO
ALTER TABLE [dbo].[ПродуктыПартнера]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыПартнера_Продукция] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Продукция] ([КодПродукции])
GO
ALTER TABLE [dbo].[ПродуктыПартнера] CHECK CONSTRAINT [FK_ПродуктыПартнера_Продукция]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_ТипПродукции] FOREIGN KEY([ТипПродукции])
REFERENCES [dbo].[ТипПродукции] ([КодТипаПродукции])
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_ТипПродукции]
GO
USE [master]
GO
